<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console"
				xsi:type="ColoredConsole"
				encoding="utf-8"
				layout="[${date:format=HH\:MM\:ss} | ${pad:inner=${level}:padding=5}] ${logger:shortname=true}: ${message}"
				detectConsoleAvailable="false"
	/>
	</targets>

	<rules>
		<logger name="*" minlevel="info" writeTo="console" />
	</rules>
</nlog>