@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'SimDialogue';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(~/font/font.ttf) format('ttf');
    }
  }